<% provide(:title, @category.name) %>

<div class="container">
  <h1><%= @category.name %></h1>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4 col-md-3">
      <div class="entry card wrapper", onclick='location.href="<%= product_path(product) %>"'>
        <%= image_tag product.product_images.first.url(:thumb) || 'no_image_found', class: 'icon card-img-top d-img' %>
        <div class="content card-block">
          <table>
            <tr>
              <td><%= "[#{product.cond}]" %></td>
            </tr>
            <tr>
              <td><%= "(#{number_to_currency(product.price, unit: product.unit, separator: ".", delimiter: "")})" %></td>
            </tr>
            <tr>
              <td><div class="small-des-td des-td"><%= "#{product.name}" %></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>