<p id="notice"><%= notice %></p>

<%= link_to 'Back', :back %>

<h1><%= @category.name %></h1>

<div class="row">
  <% @products.each do |product| %>
      <div class="col-sm-3">
        <div class="entry card text-center">
          <%= image_tag product.product_images.first.url(:thumb) || 'no_image_found', class: 'card-img-top' %>
          <div class="card-block">
            <p class="card-text"><%= link_to "[#{product.cond}] (#{product.currency} #{product.price})", product %></p>
            <p class="card-text"><%= link_to "#{product.name}", product %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>