<p id="notice"><%= notice %></p>

<h1><%= @category.name %><small> small text</small></h1>

<%= link_to 'Back', categories_path %>

<div class="row">
  <% @products.each do |product| %>
      <div class="col-sm-3">
        <div class="card text-center">
          <%= image_tag product.product_images.first.url(:thumb) || 'no_image_found', class: 'card-img-top' %>
          <div class="card-block">
            <h3 class="card-title"><%= link_to product.name, product %></td></h3>
          </div>
        </div>
      </div>
  <% end %>
</div>