<h2><%=  @product.name %></h2>
<%= link_to 'Back', :back %>
<%	 @product.product_images.each do |image| %>
  <%= image_tag image.url(:display) %>
<% end %>


<h4>Description: <%=  @product.description %></h4>
<h4>Sold by: <%=  @seller.name %></h4>
<h4>Phone number: <%=  @seller.phone_number %></h4>