<h2><%=  @product.name %></h2>
<%= link_to 'Back', :back %>
<%= image_tag @product.product_image_url.to_s %>


<h4>Description: <%=  @product.description %></h4>
<h4>Sold by: <%=  @seller.name %></h4>
<h4>Phone number: <%=  @seller.phone_number %></h4>